
/* 
    Created on : Mar 15, 2015, 8:00:20 AM
    Author     : graham morby-raybould
*/
// body styles
body {
  font-family: 'Roboto', sans-serif;
}

.background1 {
  background: url(../img/background2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: background 1.5s linear;
    }
.background2 {
  background: url(../img/background1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: background 1.5s linear;
    }
hr.style16 {
  border-top: 1px dashed #8c8b8b;
}
hr.style16:after {
  content: '\002702';
  display: inline-block;
  position: relative;
  top: -12px;
  left: 40px;
  padding: 0 3px;
  background: $white;
  color: #8c8b8b;
  font-size: 18px;
}
table {
  width: 100%;
  td {
    text-align: center;
    @include font-size(2);
    padding: 5px;
    color: $hoverpurple;
  }
}

//page one styles
.fullscreenDiv {
  
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}
.center {
    position: absolute;
    width: 250px;
    text-align: center;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -120px;
    color: #FFFFFF;
    font-family: 'Rock Salt', cursive;
  .enter{
    margin-top: 10px;
    color: #ffffff;
    @include font-size(3);
  }
}
.social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    li {
        display: inline;
    }

}

//main header

header {
  text-align: center;
  margin-bottom: 25px;
  padding: 10px;
  h2 {
    color: $maingreen;
    @include font-size(7);
    font-family: 'Rock Salt', cursive;
  }

  ul {
    font-weight: bold;
    @include font-size(2);
    color: $offpurple;
    margin-top: 10px;
    li {
      display: inline;
    }
  }
}
//footer
footer {
  background: $maingreen;
  border-top: 10px solid $offpurple;
  width: 100%;
  margin-top: 35px;
  h1 {
    font-family: 'Rock Salt', cursive;
    color: $white;
  }
  hr {
    border-top: 1px dashed $white;
  }
  hr:after {
    content: '\002702';
    display: inline-block;
    position: relative;
    top: -12px;
    left: 40px;
    padding: 0 3px;
    background: $maingreen;
    color: $white;
    font-size: 18px;
  }
  h4 {
    color: $white;
    text-align: left;
    padding-bottom: 10px;
  }
  label {
    color: $white;
  }
}

//sidebar
.sidebar {
  .aboutBox {
    background: $maingreen;
    color: $white;
    padding: 3px 10px 15px 10px;
    h3 {
      font-family: 'Rock Salt', cursive;
    }
    hr {
      border-top: 1px dashed $white;
    }
    hr:after {
      content: '\002702';
      display: inline-block;
      position: relative;
      top: -12px;
      left: 40px;
      padding: 0 3px;
      background: $maingreen;
      color: $white;
      font-size: 18px;
    }
   }
  .latestblogpost {
    padding: 3px 10px 15px 10px;
    h3 {
      font-family: 'Rock Salt', cursive;
      color: $maingreen;
    }
    p {
      margin-top: 4px;
      padding: 10px;
    }
  }
  .sociallinksside {
    padding: 3px 10px 15px 10px;
    h3 {
      font-family: 'Rock Salt', cursive;
      color: $maingreen;
    }
    //social links
    .fa-facebook-official {
      font-size: 3em !important;
      color: #3B5998;
      text-shadow: none;
    }
    .fa-twitter {
      font-size: 3em !important;
      color: #4099FF;
      text-shadow: none;
    }
    .fa-google-plus-square {
      font-size: 3em !important;
      color: #D50F25;
      text-shadow: none;
    }
    .fa-linkedin-square {
      font-size: 3em !important;
      color:#007bb6;
      text-shadow: none;
    }
    .socialLinks {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-top: 20px;
      text-align: center;
      background:$white;
      li {
        display: inline;
      }
    }
  }
  .twitter {
    padding: 3px 10px 15px 10px;
    h3 {
      font-family: 'Rock Salt', cursive;
      color: $maingreen;
    }
  }
}

//home page
.homePage {
  h1 {
    font-family: 'Rock Salt', cursive;
    color: $maingreen;
  }
  .skillset {
    padding-top: 10px;
    ul {
      list-style: none;
      li {
        @include font-size(2);
      }
    }
  }
}

//about page
.aboutpage {
  h1 {
    font-family: 'Rock Salt', cursive;
    color: $maingreen;
  }
}
 

