.button-prim {
  background: $maingreen;
  padding:10px;
  text-align: center;
  color: $white;

  &:hover {
    background: $hovergreen;
  }
  &:focus {
    background: $focusgreen;
  }
}
.button-off {
  background: $offpurple;
  padding:10px;
  text-align: center;
  color: $white;

  &:hover {
    background: $hoverpurple;
  }
  &:focus {
    background: $focuspurple;
  }
}