/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 15, 2015, 8:38:35 AM
    Author     : graham morby-raybould
*/

//main-nav
nav .container-fluid {
  background-color: $maingreen;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #e7e7e7;
  background-color: $maingreen;
}
.navbar-default .navbar-brand {
  color: $white;
  &:hover {
    color: $hoverpurple;
  }
}
.navbar-default .navbar-nav > li > a {
  color: $white;
  &:hover {
    color: $hoverpurple;
  }
}


//social links
.fa-facebook-official {
    font-size: 3em !important;
    color: #3B5998;
    text-shadow: 1.25px 1.25px #000000;
  }
.fa-twitter {
    font-size: 3em !important;
    color: #4099FF; 
      text-shadow: 1.25px 1.25px #000000;
}
.fa-google-plus-square {
    font-size: 3em !important;
    color: #D50F25;  
      text-shadow: 1.25px 1.25px #000000;
}
.fa-linkedin-square {
    font-size: 3em !important;
    color:#007bb6;
      text-shadow: 1.25px 1.25px #000000;
}

